/* #root {
  padding: 2rem;
  text-align: center;
  max-width: 1280px;
  margin: 0 auto;
} */

#root {
  width: 100%;
  height: 100%;
}

.app {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.app__main {
  flex: 1;
}
